@color-base: #e73434;
@fuente-base: 14px;
@color-acento: #ffffff;

.alerta {
  padding: 14px 18px;
  margin: 12px auto;
  max-width: 700px;
  border-radius: 8px;
  border-left: 5px solid transparent;
  font-size: @fuente-base;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

//Mixin con pensamiento recursivo y logica funcional
.generar(@n) when (@n > 0) {
  .alerta-@{n} {
    &:extend(.alerta all);
    background-color: darken(@color-base, (@n - 1) * 8%);
    border-left-color: darken(@color-base, (@n * 8%));
    color: @color-acento;

    & when (@n = 2) {
      background-color: darken(@color-base, 20%);
      border: 8px solid #7ad98a;
      border-left: 5px solid #7ad98a;
      padding: 14px 18px;
      color: @color-acento;
    }
  }

  .generar(@n - 1);
}

.generar(5);
